.App{
  background: #18191A;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.App>*:nth-child(2){
  position: sticky;
  top: 60px;
}

.App>*:nth-child(1){
  position: sticky;
  top: 0;
  background: #35312C;
}
